:host {
  display: block;
  max-width: 1200px;
  line-height: 2em;

  ul {
    li {
      padding-bottom: 12px;
    }
  }

  p.highlighted {
    background: #eaf2ff;
    padding: 12px;
    border-radius: 4px;
  }
}
