/* You can add global styles to this file, and also import other style files */
$highlight-mfe: #a800ff;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

.mfe {
  display: block;
  border: 1px dashed $highlight-mfe;
  position: relative;

  &[data-framework]::before {
    content: 'mfe: ' attr(data-framework);
    text-transform: capitalize;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    display: block;
    background: white;
    border-radius: 0.5em;
    padding: 1px 4px;
    font-size: 0.7rem;
    border: 1px dashed $highlight-mfe;
  }
}
