/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.mfe {
  display: block;
  border-width: 2px;
  border-color: #919191;
  padding: 15px 10px;
  position: relative;
  margin-top: 20px;

  &[data-framework]::before {
    content: attr(data-framework);
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
  }
}
