$button-bg: #ffffff;

.showcase-input-output {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 440px;

  .counter {
    padding: 16px;

    button {
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #d3d3d3;
      background-color: $button-bg;
      width: 24px;
      height: 24px;

      &:hover {
        background: #e7e7e7
      }

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

  }
  .counter-control {
    justify-self: center;
    display: flex;
    align-items: center;

    width: 100px;
    justify-content: space-between;

    span {
      font-weight: 600;
    }

    button {
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #d3d3d3;
      background-color: $button-bg;
      width: 24px;
      height: 24px;

      &:hover {
        background: #e7e7e7
      }
    }
  }
}
