$border-color: #adadad;

:host {
  display: block;
  border-radius: 8px;
  border: 1px solid $border-color;
  padding: 0 8px 16px 8px;

  & > p {
    position: relative;
    padding-bottom: 8px;
    font-weight: 600;
    color: #94000f;

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: calc(100% + 16px);
      bottom: 0;
      left: -8px;
      background: $border-color;
    }
  }

  & > button {
    margin-left: 4px;
  }
}
